<%- include('./layout/mainLayout') %>

<div class="flex flex-col md:flex-row mb-12 md:h-screen md:justify-evenly md:px-2 md:py-20 items-center">
  <%- include('./components/productForm') %>
  
  <%- include('./components/chatContainer') %>
</div>

<table class="table table-striped col-6">
  <thead>
      <tr>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Thumbnail</th>
      </tr>
  </thead>
  <tbody>
      <% products.map(product => {%> 
          <tr>
              <td><%- product.title %></td>
              <td>$<%- product.price %></td>
              <td><img src=<%- product.thumbnail %> class="w-25"></td>
          </tr>
      <% }) %> 
  </tbody>
</table>

<%- include('./layout/mainFooter') %>